.mar-t {
    margin-top: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.main {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.buy-btn {
    border: none;
    padding: 5px 35px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
}

@media (max-width: 800px) {
    label, input, select, .buy-btn {
        display: block;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}