body {
    height: 100vh;
}
.div{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    max-width: 650px;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.pole{
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.p-kolor{
    background-color: #4c8be9; 
    color: white; 
    border: none; 
    width: 100px;
    padding: 10px 15px; 
    border-radius: 3px; 
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
}