body {
    height: 100vh;
}
.div{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    max-width: 650px;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.pole{
    padding: 3px;
    margin: 5px;
    border-radius: 3px;
}
.p-kolor{
    background-color: #4c8be9; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 3px; 
    cursor: pointer;
    margin: 7px;
}