* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgb(122, 14, 14),black);
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 30px 80px;
}

.movies {
  max-width: 30%;
  margin:  auto;
  padding: 0 20px;
  color: white;
}

.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  padding: 16px;
}

.movie img {
  width: 160px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    color: white;
}

.movie-info h3 {
  color: white;
  font-size: 30px;
}

nav {
    background-color: #333;
    text-align: left;
    justify-content: space-between;
    display: block;
}

nav ul li  {
    color:white;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

nav ul {
    display: flex;
    text-align: left;
    justify-content: center;
    list-style: none;
    margin: 0;
}

nav ul li:last-child{
    text-align: right;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-nazwa {
    color: white;
    margin-right: 10px;
    font-weight: bold;
}