.logo{
    float: left;
}
nav {
    background-color: #333;
    text-align: left;
    justify-content: space-between;
    display: block;
    height: 100px;
}

nav ul li  {
    color:white;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    text-align: left;
    justify-content: center;
    list-style: none;
    margin: 0;
}

nav ul li:last-child{
    text-align: right;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

.nav-nazwa {
    color: white;
    margin-right: 10px;
    font-weight: bold;
}