* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 15px;
}

nav a.logo img {
    display: block;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 100%;
}

nav ul li {
    margin: 0 15px;
    text-align: center;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

nav ul li > * {
    color: white;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2 ease;
    border-radius: 8px;
}

nav ul li a:hover {
    background-color: #575757;
}

.mar-t {
    margin: 10px;
    text-align: center;
}

.mar {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

table, tr, td, th {
    border: 3px solid #333;
    border-collapse: collapse;
    padding: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    width: 120px;
}

input {
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* ohidsa */

.warn-btn {
    background-color: #F25B3F;
    color: white;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 105%;
    transition: all 0.2s ease;
}

.cent-text {
    text-align: center;
}

.cent-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.cent-form label {
    margin-bottom: 8px;
    font-size: 18px;
}

.cent-form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
}

.cent-form input[type="submit"] {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: white;
    border: none;
}