* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
}

main {
  background: linear-gradient(to bottom, rgb(150, 89, 54),black);
}

.slider {
  width: 100%;
  max-width: 1600px;
  height: 540px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  height: 100%;
  transition: 0.8s ease-in-out;
}


.slide {
  min-width: 100%;
  object-fit: cover;
}

.movies {
  max-width: 30%;
  margin:  auto;
  padding: 0 20px;
  color: white;
}

.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  padding: 16px;
  border-bottom: 1px solid #222;
}

.movie img {
  width: 160px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    color: white;
}

.movie-info h3 {
  color: white;
  font-size: 30px;
}

.days {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  gap: 12px;
  border-bottom: 1px solid #222;
  padding-bottom: 12px;
  margin-bottom: 24px;
  
}

.day, .wiecej {
  background: transparent;
  border: none;
  color: white;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.6;
  align-items: center;
}

.day.active {
  background: #d67200;
  opacity: 1;
}

.day:hover, .wiecej:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: white;
}