.mar-t {
    margin-top: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.box {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 1000px;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

td, th {
    padding: 5px;
}